<div id="<%= dom_id expence %>">
  <p>
    <strong>Name:</strong>
    <%= expence.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expence.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= expence.author_id %>
  </p>

</div>
