<p style="color: green"><%= notice %></p>

<h1>Expences</h1>

<div id="expences">
  <% @expences.each do |expence| %>
    <%= render expence %>
    <p>
      <%= link_to "Show this expence", expence %>
    </p>
  <% end %>
</div>

<%= link_to "New expence", new_expence_path %>
